@model HospitalManagementSystem.Models.Insurance

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Insurance</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PatientID" class="control-label"></label>
                <select asp-for="PatientID" class ="form-control" asp-items="ViewBag.PatientID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Provider" class="control-label"></label>
                <input asp-for="Provider" class="form-control" />
                <span asp-validation-for="Provider" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PolicyNumber" class="control-label"></label>
                <input asp-for="PolicyNumber" class="form-control" />
                <span asp-validation-for="PolicyNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CoverageDetails" class="control-label"></label>
                <input asp-for="CoverageDetails" class="form-control" />
                <span asp-validation-for="CoverageDetails" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>

